@import "ui-variables";
@icon-padding: 5px;
@icon-width: 16px;
@icon-height: 16px;
@status-bar-height: 20px;
@inactive-opacity: 0.5;
.node-runner {
    letter-spacing: normal;
    position: inherit;
    ul {
        padding: 0;
        margin: 0;
    }
    .icon::before {
        margin: 0;
        padding: 0;
    }
    .icon-x::before {
        content: '\f081' !important;
        line-height: normal;
    }
    &.terminal-view {
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        .panel-divider {
            order: 1;
            display: inherit;
            flex: 0 0 auto;
            position: absolute;
            height: 8px;
            margin-top: -4px;
            z-index: 3;
            -webkit-user-select: none;
            cursor: ns-resize;
            width: 100%;
        }
        .btn-toolbar {
            order: 2;
            flex: 0 0 auto;
            width: 100%;
            padding: 4px 2px;
            .left {
                float: left;
            }
            .right {
                float: right;
            }
            .btn {
                line-height: normal;
                padding: 1px 5px;
            }
            .hide {
                display: none;
            }
        }
        .xterm {
            display: -webkit-flex;
            order: 3;
            flex: 1;
            width: 100%;
            height: 200px;
            padding: 0 5px;
            background: #000;
            color: #fff;
            > .terminal {
                display: -webkit-flex;
                flex-direction: column;
                align-content: flex-end;
                position: relative;
                width: 100%;
                overflow: hidden;
                > div {
                    flex: 1 0 auto;
                    white-space: nowrap;
                    font-size: inherit;
                }
            }
        }
    }
    &.status-bar {
        display: -webkit-flex;
        flex-direction: row;
        align-items: center;
        -webkit-user-select: none;
        margin: 0 10px;
        box-sizing: content-box;
        height: @status-bar-height;
        i {
            cursor: pointer;
            display: inherit;
            text-align: center;
            align-self: center;
            line-height: @status-bar-height;
        }
        .icon-x {
            color: red;
            justify-content: flex-end;
        }
        .status-container {
            display: inherit;
            position: relative;
            width: 100%;
            height: 100%;
            line-height: 16px;
            margin: 0 @icon-padding;
            .status-list {
                display: inherit;
                cursor: pointer;
                -webkit-transition: opacity 0.25s ease-in-out, color 0.5s ease-in-out;
                -webkit-user-drag: element;
                padding: 2px @icon-padding;
                opacity: @inactive-opacity;
                height: 100%;
                img {
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                }
                &.active {
                    opacity: 1;
                }
            }
        }
    }
}
